.add-post-form{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 700px;
    height: 500px;
    flex-direction: column;
}

.btn-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}